{% extends 'generator/layout.html' %}

{% block content %}
<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <h1 class="text-center mb-4">About</h1>
            
            <p class="text-justify">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. At nostrum dolores numquam facilis incidunt minus
                nobis sit tempora commodi officiis blanditiis tenetur, quia iusto molestias culpa nam? Nulla repudiandae odio
                laborum repellendus dolor necessitatibus itaque laudantium ipsa, provident voluptatum facilis, corporis magni
                quasi ipsum ab hic dicta amet eius sapiente enim quos! Optio laboriosam fugiat accusantium mollitia earum
                libero iste rem quaerat, blanditiis dicta, vel laborum dolor perspiciatis.
            </p>

            <p class="text-justify">
                Ex illo fugit natus dicta labore repellendus rem placeat ipsam tempora? Impedit blanditiis quas quod illum eos
                natus laborum fugiat repudiandae nulla ad possimus, beatae quasi veniam, atque error voluptatum ut! Nemo
                ipsum doloribus obcaecati in provident.
            </p>

            <p class="text-justify">
                Lorem ipsum dolor, sit amet consectetur adipisicing elit. Vel nisi quasi nesciunt reiciendis possimus quas
                dolorum aut, vitae nemo facilis laboriosam numquam in corrupti fugit iure nulla laborum enim ullam rerum modi,
                recusandae molestiae ad. Natus voluptatibus laudantium repudiandae maxime temporibus nam harum totam nostrum!
            </p>
        </div>
    </div>
</div>
{% endblock %}